* {
    font-family: Arial, Helvetica, sans-serif;
  }
h4{
    display: grid;
    justify-content: center
}
.question-card{
    margin: 0 auto;
    background-color: gray;
    padding: 16px;
    border-radius: 16px;
    color: white;
    width: 80%;
    height: auto;

}
ul{
    list-style: none;
}

li{
    background-color: darkgray;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
}
.question-text{
    color: blue;
    font-size: 24px;
}
.results{
    margin: 0 auto;

    background-color: gray;
    padding: 16px;
    border-radius: 16px;
    color: white;

    width: 140%;
    height: auto;
    display: grid;
    justify-content: center;
}

.restart-btn{
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;

    border-radius: 24px;
}
.score-txt{
    color: white;
    font-family: cursive;
}
.quiz-output{
    display: grid;
    justify-content: center;
}
